<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">    
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Course Display</title>
   </head>
   <body>
   	  <h2> Details of Course </h2>
		<table>    
		<tr>    
			<td><h4>Course ID: </h4></td>    
			<td><h4 th:text="${course.courseId}"></h4></td>    
		</tr>    
		<tr>    
			<td><h4>Course Name: </h4></td>    
			<td><h4 th:text="${course.courseName}"></h4></td>    
		</tr>    
		</table>   	  
   </body>
</html>

